<section class="{{name}}">
  <div class="container mx-auto">
    <div class="mb-10 md:mb-15 text-center">
      {% if module.content.sup_title %}
      <p class="text-base md:text-lg font-semibold mb-2.5">
        {{ module.content.sup_title }}
      </p>
      {% endif %}
      {% if module.content.title %}
      <h2 class="text-xl md:text-5xl text-dark-gray font-bold">
        {{ module.content.title }}
      </h2>
      {% endif %}
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-9">
      {% for item in module.content.card %}
      <div class="card flex flex-col h-full bg-white">
        {% if item.image.src %}
        <img class="object-cover object-center w-full" src="{{ item.image.src }}" alt="{{ item.image.alt }}" loading="lazy" width="{{ item.image.width }}" height="{{ item.image.height }}">
        {% endif %}
        <div class="flex-grow p-4 md:p-6 relative">
          <div class="flex items-center justify-between text-base md:text-lg mb-4">
            <span> {{ item.locations }}</span>
            <span> {{ item.price }}</span>
          </div>
          {% if item.days %}
          <div class="flex items-center">
            <svg class="w-5 h-5 mr-3.5" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18.0682 2.76033L11.1932 17.7603C11.1357 17.886 11.0381 17.989 10.9158 18.0533C10.7935 18.1177 10.6533 18.1396 10.5172 18.1158C10.3811 18.092 10.2567 18.0237 10.1635 17.9217C10.0703 17.8197 10.0135 17.6896 10.0021 17.5519L9.42083 10.579L2.44789 9.99771C2.31017 9.98627 2.18013 9.92951 2.0781 9.8363C1.97607 9.7431 1.90781 9.61871 1.88399 9.48258C1.86017 9.34646 1.88213 9.20628 1.94645 9.08397C2.01077 8.96166 2.11381 8.86411 2.23945 8.80658L17.2395 1.93158C17.3554 1.87844 17.4849 1.86205 17.6104 1.88461C17.736 1.90718 17.8516 1.96762 17.9418 2.05781C18.032 2.14801 18.0924 2.26365 18.115 2.38919C18.1375 2.51474 18.1212 2.64418 18.068 2.76014L18.0682 2.76033Z" fill="#080809"/>
            </svg>
            <span> {{ item.days }}</span>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% require_css %}
<style>
  {% scope_css %}
  .card{
    position:relative;
    border-radius:24px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 1.85px 3.14px 0px rgba(0, 0, 0, 0.00), 0px 8.14px 6.51px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51px 25.48px 0px rgba(0, 0, 0, 0.01), 0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
  }
  @media(min-width:1280px){
    .card:hover{
      transform: scaleX(0.9); 
    }

    .card:hover::before{
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      top: 42%;
      z-index: -1;
      width: 100%;
      left: 90%;
      background-repeat: no-repeat;
      background-image:url("https://24256654.fs1.hubspotusercontent-na1.net/hubfs/24256654/Hardik_Nakum-01-07-2023/Decore%20(1).png");
    }
  }
  .card img{
    border-top-left-radius:24px;
    border-top-right-radius:24px;
    max-height:400px;
  }
  {% end_scope_css %} 
</style>
{% end_require_css %}